# Ignore all files in the Data directory except the file of code mappings.
Data/*
!Data/Coding.tsv

# Ignore all files in the Results directory.
Results/*

# Ignore all files in the Papers directory.
Papers/*

# Ignore compiled Python files.
*.pyc

# Ignore PyCharm files.
*.idea