.arrow { fill : none; stroke : black; stroke-width : 5px; }

.tableEdge { fill : none; stroke : black; stroke-width : 4px; shape-rendering: crispEdges; }
.tableInternal { fill : white; stroke : none; }
.tableLine { fill : none; stroke : gray; stroke-width : 1px; shape-rendering: crispEdges; }

text {}