.label { font-family: Times New Roman; font-size: 17px; }

.lineGraph .Initial_Model { fill: none; stroke: black; stroke-dasharray: 10,5; }
.lineGraph .Final_Model { fill: none; stroke: black; }
.histogram .Initial_Model { fill: none; stroke: black; }
.histogram .Final_Model { fill: black; stroke: black; }

.bar { shape-rendering: crispEdges; }

.axis path, .axis line { fill: none; stroke: black; shape-rendering: crispEdges; }
.axis text { font-family: sans-serif; font-size: 11px; }

/*
Legend redefinitions.
*/
.legend-label { font-family: Times New Roman; font-size: 17px; }
.legend-glyphPath.Initial_Model { stroke-dasharray: 10,5; }