.Initial_Model { fill : orange; stroke : orange; }
.Final_Model { fill : purple; stroke : purple; }

.bar { fill-opacity : 0.5; stroke : none; shape-rendering: crispEdges; }
.line { fill : none; }

.linelabel {}

.axis path, .axis line { fill: none; stroke: black; shape-rendering: crispEdges; }
.axis text { font-family: sans-serif; font-size: 11px; }

.label {}

.title {}

/*
Legend redefinitions.
*/
.legend-label { font-size: 16px; }
.legend-glyphPath { fill: none; }