.axis path, .axis line { fill: none; stroke: black; shape-rendering: crispEdges; }
.axis text { font-family: sans-serif; font-size: 11px; }

.label { font-size: 20px; }
.title { font-size: 24px; }

.ROC { fill: none; stroke: black; }
.Type_1_Diabetes { stroke: black; }
.Type_2_Diabetes { stroke: red; }